includes:
	- .Build/vendor/saschaegerer/phpstan-typo3/extension.neon
	- .Build/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    reportUnmatchedIgnoredErrors: false
    level: 1
    excludes_analyse:
        - %rootDir%/../../../../.Build
        - %rootDir%/../../../../ext_localconf.php
        - %rootDir%/../../../../ext_emconf.php
    autoload_directories:
        - %rootDir%/../../../../
    ignoreErrors:
        - '#Constant TYPO3_MODE not found#'
        - '#Undefined variable: \$_EXTKEY#'